#container{
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 10px;
}

#employeesDetails{
    grid-row: 2;
    grid-column: 1 / 5;
    padding:10px;
    border: 1px solid #000;
}